
@media screen and (max-width: 768px) {
    .Card {
        padding: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .Card-item {
        background-color: rgba(123, 123, 123, 0.25);
        border-radius: 25px;
        padding: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        padding-right: 9vw;
        gap: 20px;
        color: #FFF;
    }

    .circle3 {
        width: 13px;
        height: 13px;
        border-radius: 13px;
        position: relative;
        top: 10px;
        left: 15px;
    }


    .Carditem {
        display: flex;
        flex-direction: column;
        font-family: Segoe UI;
        font-style: normal;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 0px;
        gap: 4px;
        width: 100%;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        font-size: 12px;
        font-style: normal;
        border-radius: 8px;
    }
/* .but-mob {

} */
.button-reschedule, .but-mob {
    position: relative;
    top: 12px;
    font-size: 12px;
    padding: 5px 20px;
}

.button-cancel {
    position: relative;
    top: 12px;
    font-size: 12px;
    padding:5px 20px;
}

    td,
    th {
        text-align: left;
    }

    tr {
        padding-top: 0px;
    }

    tr td {
        padding-top: 0em;
    }

    .mobileRate {
        display: none !important;
    }
    .buttonEnd {
        justify-content: flex-end !important;
    }
}
@media screen and (min-width: 768.5px) {
    .mobileRate1 {
        display: none !important;
    }
}