.date {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 18px;
    padding: 12px;
}

.Table
{
    display: table;
    width: 100%;
    /* padding-left: 50px; */
}
.Title
{
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
.Heading
{
    display: table-row;
    font-weight: bold;
    /* text-align: center; */
}
.Row
{
    display: table-row;
    background: #1C1C1C;
}
.Cell
{
    display: table-cell;
    border: none;
    /* border-width: thin; */
    padding-left: 5px;
    padding-right: 5px;
}

.Cell1
{
    display: table-cell;
    border: none;
    /* border-width: thin; */
    padding-left: 5px;
    padding-right: 5px;
}

.Row1
{
    display: table-row;
    background: #1C1C1C;
    width: 100%;
}
